* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

.tlcorner {
    left: 50px;
    position: absolute;
    top: 50px;
}

.trcorner {
    right: 50px;
    position: absolute;
    top: 50px;
}

.expandable {
    align-items: center;
    background-color: #1E1E1ED0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 0;
    z-index: 1;
}

.settings {
    left: 0;
}

.info {
    right: 0;
}

.menuContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.menuBtn {
    border: 1px solid #dfbd69;
    border-radius: 17.5px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.7ch;
    height: 35px;
    margin-bottom: 20px;
    width: 250px;
}